<div class="container">
    <h2 style="text-align: center;font-weight: bold;margin-top: 20px;text-transform:capitalize;"><u>Users</u></h2>
    <div class="search-div">
        <button mat-raised-button (click)="onCreate()">
            <mat-icon>add</mat-icon>Create New User
        </button>
        <mat-form-field class="search-form-field">
            <input matInput [(ngModel)]="searchKey" placeholder="Search User" autocomplete="off"
                (keyup)="applyFilter()">

        </mat-form-field>
    </div>
    <div class="mat-elevation-z8 table">
        <mat-table [dataSource]="listData" matSort matSortActive="userName" matSortDirection="asc">
            <ng-container matColumnDef="fullName">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>Full Name</b></mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.first_name}} {{element.last_name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="userName">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>User Name</b></mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.login}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header><b>Email</b></mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef class="actions"><b>Actions</b></mat-header-cell>
                <mat-cell *matCellDef="let row" class="actions">
                    <button mat-icon-button color="primary" (click)="onShowDetails(row)" matTooltip="Edit User">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" [disabled]="currentUsername==row.login" (click)="onDelete(row.login)" matTooltip="Delete">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onChangePassword(row.login)"
                        matTooltip="Change Password">
                        <mat-icon>security</mat-icon>
                    </button>
                    <button mat-icon-button color="green" (click)="onUserAccess(row.login)"
                    matTooltip="Edit User Access">
                    <mat-icon>settings</mat-icon>
                </button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>

        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
    <!-- <button (click)="openModal(mytemplate)">Open my template</button> -->
   
</div>

<!-- <app-footer></app-footer> -->